<nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">Navbar</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/auth">Authenticate</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/shoppinglist">Shopping List</a>
        </li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
         <li *ngIf="isAuthenticated">
           <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
         </li>
        <li class="dropdown" app-Dropdown *ngIf="isAuthenticated">
          <a class="dropdown-toggle"  style="cursor: pointer;" role="button">
            Manage<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a  style="cursor: pointer;">Save Data</a></li>
            <li><a  style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>